/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css?family=Poppins:400,700,900");

:root {
  --app-primary-color: #012d8e;
  --light-grey-color: #eaeaea;
  --black: #000;

  --status-applied: #fff6d4;
  --status-in_progress: #cdffd6;
  --status-completed: #f8dbff;
  --status-cancelled: #ffdfdf;
  --status-applied-txt: #c19c22;
  --status-in_progress-txt: #09a623;
  --status-completed-txt: #ad3cc3;
  --status-cancelled-txt: #f62648;
}

::-webkit-scrollbar {
  width: 3px;
  background: var(--light-grey-color);
}
::-webkit-scrollbar-thumb {
  width: 2px;
  background: var(--app-primary-color);
}

* {
  font-family: "Poppins";
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

// Header
.icon_container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  ion-icon {
    font-size: 24px;
  }

  &.no_background {
    box-shadow: none;
    border-radius: unset;
  }

  &.search_icon {
    width: 40px;
    height: 40px;
    background-color: #012d8e50;

    ion-icon {
      color: var(--app-primary-color);
    }
  }
}
// Header

// Empty Page
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    padding: 15px 20px;
    margin: 0;
  }
}
// Empty Page
